@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #085041;
  --primary: #1D9E75;
  --primary-light: #9FE1CB;
  --accent: #EF9F27;
  --accent-red: #E24B4A;
  --bg-sand: #F8F7F3;
}

body {
  background-color: #F8F7F3;
  color: #1a1a18;
}

@layer components {
  .hero-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  }
  .animate-bounce-slow {
    animation: bounce 4s ease-in-out infinite;
  }
}